/*===========================
OPCIONES GENERALES
===========================*/
.navbar-movil{
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    width: 100%;
    color: white;
    position: fixed;
    z-index: 2;
} 

.navbar-movil-container{
    display: flex;
    align-items: center;
}

.menu-navbar-movil {
  position: absolute;
  top: 48px; /* justo debajo del navbar */
  right: 0;
  width: 100%;
  padding: 10px 0;
  padding-left: 20px;
  display: flex;
  justify-content: left;
}

.menu-navbar-movil ul li{
    list-style: none;
    margin: 10px 0;
}