/*===========================
OPCIONES GENERALES
============================*/
.home {
  position: relative;
  z-index: 1;
  height: 100vh;
  width: 100%;
}

.home::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
  z-index: -1;
}

.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/Fondo/fondo_inicio.jpeg');
  background-size: cover;
  background-position: bottom;
  transform: scaleX(-1);
  z-index: -2;
}

/* ============================
OPCIONES DE CONTENIDO
============================ */
.contenedor-home {

  height: 100%;
  max-width: 40rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;

  padding-left: 6rem;
  padding-right: 6rem;
}

.contenedor-home p {
  text-wrap: balance;
  text-align: justify;
}

/* ============================
MEDIA QUERIES
============================ */
@media (max-width: 768px) {

  .home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
  }

  .boton-container{
    padding: 2rem 0;
    margin: 0 auto;
  }

  .contenedor-home {
    padding: 0rem 2rem;
    gap: 0;
  }

  .contenedor-home h1 {
    font-size: 2rem;
  }

}