/* ============================
OPCIONES GENERALES
============================ */
.seccion-productos-prueba {
  height: 100vh;
  width: 100%;

  overflow-x: hidden;/* <-- importante para evitar desbordamientos */


  background-image: url(/assets/Fondo/fondo_reticula.png);
  background-size: cover;
  background-position: center;
}

/* ============================
SECCION SUPERIOR
============================ */
.contenedor-superior-productos {
  height: 70%;

  display: flex;
  flex-direction: row;
  width: 100%;
  
}

.contenedor-izquierda {
  flex: 0 0 55%;
  max-width: 55%;
  box-sizing: border-box;
  padding: 1rem;
}

.contenedor-derecha {
  flex: 0 0 40%;
  max-width: 40%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding-right: 2rem;
  overflow: hidden; /* por si hay algo interno que se desborda */
  box-sizing: border-box;
}

.contenedor-derecha p{
  text-align: justify;
  hyphens: auto;
}



/* ============================
MEDIA QUERIES
============================ */
@media (max-width: 768px) {
  .contenedor-superior-productos {
    flex-direction: column;
    height: auto;
  }

  .contenedor-izquierda,
  .contenedor-derecha {
    flex: 0 0 100%;
    width: 100%;
  }
}