/* ==============================================
BOTON LINEA
============================================== */
.boton-linea {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid white;
  position: relative;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.5s ease, text-shadow 0.3s ease, border-bottom 0.5s ease;
  /* Animación del color */
  -webkit-transition: color 0.5s ease, text-shadow 0.3s ease,
    border-bottom 0.5s ease;
  z-index: 1;
  font-family: inherit;
  color: white;
}

.boton-linea::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  /* Empieza en el centro */
  width: 100%;
  /* Fijamos el ancho desde el inicio */
  height: 100%;
  /* Altura del botón */
  background-color: white;
  border-radius: 2rem;
  transform: translateX(-50%) scale(0, 1);
  /* En Safari, scale(0,1) es más estable */
  transition: transform 0.4s cubic-bezier(0.4, 1, 0.6, 1), box-shadow 0.7s ease,
    color 0.3s ease;
  -webkit-transition: transform 0.4s cubic-bezier(0.4, 1, 0.6, 1),
    box-shadow 0.7s ease, color 0.3s ease;
  z-index: -1;
}

.boton-linea:hover::before {
  transform: translateX(-50%) scale(1, 1);
  /* Expande completamente el color al hacer hover */
  box-shadow: 0 0px 10px rgb(255, 255, 255);
}

.boton-linea:hover {
  color: var(--negro);
  /* Cambia el color del texto */
  text-shadow: none;
  border-bottom: 1px solid transparent;
}

.boton-linea:active {
  transform: scale(0.98);
}


/* ==============================================
 BOTON LINEA NEGRA
============================================== */
.boton-container-linea-negra {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.boton-linea-negra {
  padding: 0.5rem 1.5rem;
  border-bottom: 1px solid var(--negro-claro);
  position: relative;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  transition: color 0.5s ease, text-shadow 0.3s ease, border-bottom 0.5s ease;
  -webkit-transition: color 0.5s ease, text-shadow 0.3s ease,
    border-bottom 0.5s ease;
  z-index: 1;
  font-family: inherit;
  color: var(--negro-claro);
}

.boton-linea-negra::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  width: 100%;
  height: 100%;
  background-color: var(--verde-logo);
  border-radius: 2rem;
  transform: translateX(-50%) scale(0, 1);
  transition: transform 0.4s cubic-bezier(0.4, 1, 0.6, 1), box-shadow 0.7s ease,
    color 0.3s ease;
  -webkit-transition: transform 0.4s cubic-bezier(0.4, 1, 0.6, 1),
    box-shadow 0.7s ease, color 0.3s ease;
  z-index: -1;
}

.boton-linea-negra:hover::before {
  transform: translateX(-50%) scale(1, 1);
  box-shadow: 0 0px 10px var(--verde-logo);
}

.boton-linea-negra:hover {
  color: white;
  text-shadow: none;
  border-bottom: 1px solid transparent;
}

.boton-linea-negra:active {
  transform: scale(0.98);
}

/* ============================
MEDIA QUERIES
============================ */
@media (max-width: 768px) {
  .boton-linea {
    padding: 0.5rem .5rem;
  }
}