/* ===============================
OPCIONES GENERALES
=============================== */
header {
    font-family: "Open Sans", sans-serif;
    padding: 1rem 0;
}

.navbar {
    display: flex;
    width: 100%;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    z-index: 10;
}

/* ===============================
OPCIONES DEL LOGO
=============================== */

.navbar__logo img {
    height: 2.5rem;
}

/* ===============================
OPCIONES DEL MENU CENTRAL 
=============================== */
.navbar__nav {
    display: flex;
    gap: 2rem;
}

.nav_link{
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--blanco-texto-navbar);
}

.nav_link:hover {
    color: white;
    opacity: 1;
}

.nav_link.active_link {
    color: white;
}