html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: white;
}
:root {
  /* COLORES */
  --negro: #131313;
  --negro-claro: #272727;
  --negro-muy-claro: #3b3b3b;

  --gris: #808080;

  --blanco:#fff;
  --blanco-claro: #f1f1f1; /* Fondo gris claro */
  --blanco-muy-claro: #dddddd;
  --blanco-texto-navbar:#dddddd83;

  --verde: #1b4332;
  --verde-logo: #138559;
  --verde-claro: #00ff95;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif; /* Reemplaza "Poppins" por cualquier fuente que elijas */
  box-sizing: border-box;
  background-size: cover;
}

h1 {
  font-size: 2.2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra con desplazamiento y difusa */
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
}

p {
  font-size: 1.1rem;
  line-height: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra con desplazamiento y difusa */
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

footer a { 
  font-size: 1.1rem;
  line-height: 2rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 1); /* Sombra con desplazamiento y difusa */
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  text-decoration: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem; /* Reducir aún más el tamaño de la fuente */
  }
}
