.historia {
  height: 65vh;
  padding: 4rem 0;
}

.historia-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.info-historia {
  width: 60%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.info-historia p {
  font-size: 1rem;
  opacity: 0.9;
  text-align: justify;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  line-height: 1.8;
  width: 100%;
  text-shadow: 1px 1px 5px rgb(0, 0, 0);
}

.info-historia a {
  width: fit-content;
}

.historia-logo img {
  height: 15rem;
}
/* ==============================
MEDIA QUERIES
=============================== */

@media (max-width: 1200px) {
  .historia-container {
    padding: 0 4rem;
  }

  .info-historia {
    height: 50%;
    width: 50%;
  }

  .info-historia p {
    font-size: 1rem;
  }

}

/* ===============================
MEDIA QUERIES PANTALLA MOVIL
================================ */
@media (max-width: 768px) {
  .historia {
    height: 100vh;
    padding-top: 4rem;
  }
  .historia-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 0;
  }

  .info-historia {
    width: 80%;
    height: auto;
    padding: 0;
  }
}
