/* ============================
OPCIONES GENERALES
============================ */
.historia {
  height: 65vh;

  display: flex;

  padding: 4rem 0;

  background-image: url(/assets/Fondo/fondo_historia.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* ============================
OPCIONES PARTE IZQUIERDA
============================ */
.historia-izquierda {
  width: 70%;
  height: 100%;
  padding-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.historia-texto {
  width: 100%;
}

.pHistoria {
  text-wrap: balance;
  text-align: justify;
}

.contenedor-botonHistoria {
  margin-top: 4rem;
}


/* ============================
OPCIONES IMAGENES
============================ */
.historia-logo {
  width: 30%;
  display: flex;
  justify-content: center;

  align-items: center;
}

.historia-logo img {
  height: 15rem;
}

/* ============================
MEDIA QUERIES
============================ */
@media (max-width: 1024px) {
  .historia {
    justify-content: center;
    height: 80vh;
  }

  .historia-izquierda{
    padding: 0;
    width: 80%;
  }
}

@media (max-width: 768px){
  .historia{
    height: 100vh;
    padding: 0 2rem;
  }

  .historia-izquierda{
    width: 100%;
    justify-content:space-evenly;
  }

  .historia-texto h1{
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  .historia-texto p{
    text-align: justify;
    hyphens: auto;
    line-height: 1.7rem;
  }

}